# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
env/
venv/
.venv/

# Data and logs
*.log
*.csv
*.h5
*.pkl
*.pth
/data/
datasets/
outputs/
checkpoints/

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS files
.DS_Store

# models
/models/

